html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.m-b-md {
    margin-bottom: 30px;
}

.url-input {
    width: 50vw;
}

.content div {
    margin-bottom: 10px;
}

.error {
    color: #d0211c;
}
